<footer class="social-icons">
    <div class="container">
        <ul>
            <li><a href="#"><img src="{{ "/assets/images/icon-github.svg" | relative_url }}" alt="Github"></a></li>
            <li><a href="#"><img src="{{ "/assets/images/icon-linkedin.svg" | relative_url }}" alt="LinkedIn"></a></li>
            <li><a href="#"><img src="{{ "/assets/images/icon-resume.svg" | relative_url }}" alt="Resume"></a></li>
            <li><a href="#"><img src="{{ "/assets/images/icon-email.svg" | relative_url }}" alt="Email"></a></li>
        </ul>
    </div>
</footer>