<footer class="social-icons">
    <div class="container">
        <ul>
            <li><a target="_blank" href="https://github.com/bryanvtran/"><i class="icon-github-circled" aria-label="GitHub"></i></a></li>
            <li><a target="_blank" href="https://www.linkedin.com/in/bryanvantran/"><i class="icon-linkedin-squared" aria-label="LinkedIn"></i></a></li>
            <li><a target="_blank" href="{{ "/assets/images/bryantran-resume.pdf" | relative_url }}"><i class=" icon-doc-text-inv" aria-label="Resume"></i></a></li>
            <li><a target="_blank" href="mailto:bryanvantran@ucla.edu"><i class="icon-mail-alt" aria-label="Email"></i></a></li>
        </ul>
    </div>
</footer>