.intro {
    padding-top: 80px;
    padding-bottom: 112px;

    @include media("<medium") {
        padding-top: 64px;
        padding-bottom: 64px;
    }

    .intro__title {
        margin-bottom: 1.6rem;
    }

    .intro__about {
        font-size: $font-size-xlg;
        margin-bottom: 1.6rem;
        font-weight: 300;
    }
}

.projects {
    padding-bottom: 60px;

    .projects__title {
        text-align: center;
        font-size: 3.2rem;
        margin-bottom: 32px;
    }

    .projects__list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        &:after {
            content: "";
            flex: auto;
          }

        @include media("<small") {
            display: block;
        }

        .projects__list__item {
            width: calc(100%/3);
            margin-bottom: 1em;
            padding: 0.5em;
            box-sizing: border-box;

            @include media(">small", "<medium") {
                padding: 0;
                width: 49%;
            }

            @include media("<small") {
                padding: 0;
                width: 100%;
                margin-bottom: 2.4em;
            }

            a {
                border: none;
            }

            .projects__list__item__title {
                margin-bottom: 0;
                color: $font-color;
                line-height: 1.4;
            }

            .projects__list__item__thumbnail {
                width: 100%;
                height: 220px;
                object-fit: cover;
                margin-bottom: .5em;
                overflow: hidden;
                background: $gray-light;
            }
        }
    }
}

.project-intro {
    padding-top: 80px;
    padding-bottom: 112px;

    .project-intro__title {
        margin-bottom: 4px;
        font-size: 3rem;
    }
    .project-intro__subtitle {
        margin-bottom: 28px;
        font-size: 1.6rem;

        a {
            text-decoration: none;
        }
    }
    .project-intro__description {
      font-size: 1.8rem;
      line-height: 1.7;
    }
}


.project-header {
  height: 600px;
  max-height: 60vh;
  width: 100%;
  margin-bottom: 64px;

  img {
    overflow: hidden;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.project-body {
  max-width: 600px;
  margin: 0 auto;

  h2 {
    font-size: 2.4rem;
  }

  p {
    font-size: 1.4rem;
  }

  p, h2 {
    margin-bottom: 16px;
  }

  img {
    width: 100%;
    margin: 32px auto;
  }
}

.project-nav {
  text-align: center;
  margin: 32px auto;

  a {
    display: inline-block;
    margin: 0 16px;
    border: none;
  }
}


.photos {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 80px;

  &:after {
    content: "";
    flex: auto;
  }

  .photos__item {
    width: calc(100%/3);
    margin-bottom: .5em;
    padding: 0.5em;
    box-sizing: border-box;
    cursor: pointer;

    @include media(">small", "<medium") {
        width: 50%;
    }

    @include media("<small") {
        padding: 0;
        width: 100%;
    }

    img {
      width: 100%;
      height: 250px;
      object-fit: cover;
      overflow: hidden;
    }
  }
}

.photos-nav {
  padding-top: 80px;
  text-align: center;
  ul {
    list-style: none;
    margin-left: 0;

    li {
      display: inline-block;
      padding: 8px 16px;

      @include media("<medium") {
        padding: 8px;
      }

      a {
        color: $font-color;
        border-bottom: none;

        &.active {
          border-bottom: 1px solid $font-color;
        }
      }
    }
  }
}

.photo-viewer {
  display: none;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, .8);

  width: 100%;
  height: 100%;
  text-align: center;

  img {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    max-width: 90%;
    max-height: 80%;
  }
}
