.intro {
    padding-top: 32px;
    
    .intro__title {
        margin-bottom: 1.6rem;
    }

    .intro__about {
        font-size: $font-size-xlg;
        margin-bottom: 1.6rem;
        font-weight: 300;
    }
}