---
layout: base
---

<div class="container project-intro">
  {% assign project = site.data.projects[page.project.index] %}
  <h1>{{ project.title }}</h1>
  <p>{{ project.description }}</p>
</div>

{% if project.headerImg %}
<div class="project-header">
  <img src="{{ project.headerImg }}" alt="{{ project.title }}">
</div>
{% endif %}

<div class="container project-body">
  {{ content }}

  <div class="project-nav">
    {% if project.prev %}<a href="/projects/{{ project.prev }}">Prev</a>{% endif %}
    <a href="/">Home</a>
    {% if project.next %}<a href="/projects/{{ project.next }}">Next</a>{% endif %}
  </div>
</div>
